html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #eff2f4;
  color: #333333;
}

canvas {
  width: 100% !important;
  height: 100% !important;
}

a {
  text-decoration: none;
}

table.table {
  font-size: 15px;
}

table.table th,
table.table td {
  padding: 3rem 0;
  vertical-align: middle;
}

.scrollable-table {
  max-height: 1000px;
  overflow-y: auto;
}

.big-scrollable-table {
  max-height: 500px;
  overflow-y: auto;
}

#main-content-wrapper {
  margin-left: 80px;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: calc(100% - 80px);
}

.menu:hover + #main-content-wrapper {
  margin-left: 250px;
  width: calc(100% - 250px);
}

.content-area {
  flex-grow: 1;
  width: 100%;
}

.form-container {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 0.3rem;
}

.form-label {
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: #495057;
  font-size: 0.8rem;
}

.form-control {
  background-color: #f1f3f5;
  border: none;
  font-size: 0.875rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
}

.form-control input {
  height: calc(1.5em + 1.2rem + 2px);
}

.form-control::placeholder {
  color: #adb5bd;
  font-size: 0.875rem;
}

.form-control:focus {
  background-color: #e9ecef;
  box-shadow: none;
  border: none;
}

.header {
  background: linear-gradient(160deg, #8074ea, #665ef2, #b583ff);
}

.titles {
  font-size: 64px;
  color: #665ef2;
}

.buttonBrand {
  background-color: #665ef2;
  color: white;
}

.buttonBrand:hover {
  background-color: #5d58ff;
  color: white;
  box-shadow: 0 0 0 0.2rem rgba(140, 122, 252, 0.25);
}

.buttonBrandv2 {
  background: linear-gradient(90deg, #6a5af9, #b583ff);
  color: white;
  border: none;
}

.buttonBrandv2:hover {
  background: linear-gradient(90deg, #5b4de6, #a872ff);
  color: white;
}

.buttonSecondary {
  background: #29ACFF;
  color: white;
}

.buttonSecondary:hover{
  background: #197ab7;
  color: white;
}
.capital {
  text-transform: capitalize;
}

.img-icon {
  height: 50px;
  width: auto;
}

.img-brand {
  height: 140px;
  width: auto;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.epilogue {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
